body{
margin:0;
font-family:Arial;
background:#0e0e0e;
color:white;
text-align:center;
}

/* NAV */

.nav{
display:flex;
justify-content:center;
gap:40px;
background:#111;
padding:16px;
border-bottom:2px solid #00ffff30;
}

.nav a{
color:white;
text-decoration:none;
font-size:18px;
font-weight:bold;
position:relative;
}

.nav a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:cyan;
transition:.3s;
}

.nav a:hover::after{
width:100%;
}

/* HERO */

.hero{
padding-top:120px;
}

.title{
font-size:60px;
letter-spacing:4px;
text-shadow:0 0 20px cyan;
}

/* STATS */

.stats{
margin-top:60px;
display:flex;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}

.stat{
background:#181818;
padding:30px;
border-radius:12px;
width:180px;
transition:.3s;
}

.stat:hover{
transform:translateY(-6px);
box-shadow:0 0 20px cyan;
}

/* LEADERBOARD */

.page{
padding:80px 20px;
}

#leaderboard{
margin-top:40px;
max-width:500px;
margin-left:auto;
margin-right:auto;
}

.row{
background:#1a1a1a;
margin:10px 0;
padding:15px;
border-radius:8px;
display:flex;
justify-content:space-between;
}

.sub{
opacity:.7;
}

